* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: $color-white;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  height: 100%;
}

footer {
  background-color: $color-black;
  color: $color-light-grey;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

html {
  height: 100%;
}

img {
  aspect-ratio: 1;
  display: block;
  height: auto;
  width: 100%;
}

main {
  flex: 1;
  min-height: 100%;
}

p {
  margin-bottom: 0.9rem;
}
