* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: $color-white;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  min-height: 100vh;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
}

img {
  aspect-ratio: 1;
  display: block;
  height: auto;
  width: 100%;
}

p {
  margin-bottom: 0.9rem;
}

.min-vh-100 {
  min-height: 100vh;
}
