header {
  align-items: center;
  background-color: $color-black;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative;

  nav {
    align-items: center;
    display: flex;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      opacity: 0;
      transform: translateX(-100%);
      animation: slideInFromLeft 0.5s ease-out forwards;
    }

    &.open ul {
      opacity: 1;
      transform: translateX(0);
    }

    li {
      margin-right: 1rem;
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    text-decoration: none;

    .title {
      font-family: "Rock Salt", cursive;
      margin-left: 1rem;
    }
  }

  .menu-toggle {
    min-width: 24px;
    background: none;
    border: none;
    color: $color-white;
    cursor: pointer;
    display: none; // Oculto en pantallas grandes
    font-size: 1.5rem;
    z-index: 1000; // Alto z-index para estar sobre otros elementos
  }
}
