@media (max-width: 768px) {
  header {
    .menu-toggle {
      display: block; // Se muestra solo en pantallas pequeñas
      margin-left: auto;
    }

    nav ul {
      background-color: $color-black;
      display: none; // Oculto inicialmente en móviles
      flex-direction: column;
      left: 0;
      position: absolute;
      right: 0;
      top: 100%; // Coloca el menú justo debajo del header
      width: 100%;
      z-index: 500; // Menor que el botón para que no lo tape

      li {
        display: block;
        margin-right: 0;
        text-align: center;

        a {
          display: block;
          padding: 0.5rem;
        }
      }

      &.open {
        display: flex; // Mostrar cuando el menú esté activo
      }
    }
  }

  .album-description {
    width: 100%;
  }

  .album-content {
    flex-direction: column;

    .album-image-container {
      min-width: 100%;
    }
  }

  .album-image {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 100%;
  }

  .song-list {
    flex: 1;
    padding-top: 0.5rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .footer-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .footer-nav ul li {
    margin: 0.5rem 0;
  }

  .footer-nav ul li a i {
    margin-right: 0.5rem;
  }

  .footer-logo-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    max-width: 100px;
  }
}

@media (max-width: 1024px) {
  .album-detail-container {
    margin-right: 0;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .recommended-albums {
    margin-top: 1rem;
    width: 100%;

    #recommended-list {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    .album-card {
      display: inline-block;
      flex: 0 0 auto;
      padding-right: 1rem;
      width: 300px;
    }
  }
}
