@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

$color-white: #fff;
$color-black: #000;
$color-light-grey: #ccc;
$color-dark-grey: #ddd;
$color-blue: #007bff;
$color-dark-blue: #0056b3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Arial", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 1;
}

a {
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

p {
  margin-bottom: 0.9rem;
}

main {
  flex: 1;
}

#home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/portada.jpeg");
  background-size: cover;
  background-position: center;
  color: $color-white;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li,
footer {
  a {
    color: $color-white;
  }
}

a {
  color: $color-black;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

header {
  background-color: $color-black;
  color: $color-white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .logo {
    max-width: 228px;
    aspect-ratio: 228 / 56;
    cursor: pointer;
  }

  .menu-toggle {
    display: none; // Oculto en pantallas grandes
    background: none;
    border: none;
    color: $color-white;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1000; // Alto z-index para estar sobre otros elementos
  }

  nav {
    display: flex;
    align-items: center;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        margin-right: 1rem;
      }
    }
  }

  @media (max-width: 768px) {
    .menu-toggle {
      display: block; // Se muestra solo en pantallas pequeñas
      margin-left: auto;
    }

    nav ul {
      flex-direction: column;
      position: absolute;
      top: 100%; // Coloca el menú justo debajo del header
      left: 0;
      right: 0;
      background-color: $color-black;
      width: 100%;
      display: none; // Oculto inicialmente en móviles
      z-index: 500; // Menor que el botón para que no lo tape

      li {
        text-align: center;
        display: block;
        margin-right: 0;

        a {
          display: block;
          padding: 0.5rem;
        }
      }
    }

    nav ul.open {
      display: flex; // Mostrar cuando el menú esté activo
    }
  }
}

footer {
  background-color: $color-black;
  color: $color-light-grey;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.card {
  background: $color-white;
  border: 1px solid $color-dark-grey;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .card-body {
    padding: 1rem;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.btn {
  background-color: $color-blue;
  color: $color-white;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  display: inline-block;
  margin-top: 1rem;

  &:hover {
    background-color: $color-dark-blue;
  }
}

.content-wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 1rem;
}

.album-detail-container {
  margin-right: 1rem;
}

.album-detail-container,
.recommended-albums {
  background: $color-white;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.album-content {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
  gap: 1rem;

  .album-image-container {
    width: 100%;
    position: relative;
    .album-image {
      height: auto;
      margin-right: 1rem;
      border-radius: 10px;
    }
  }
}

.album-info {
  flex-grow: 1;
}

.album-title {
  font-size: 1.5rem;
}

.song-list {
  padding-top: 1rem;
  li {
    margin: auto 1rem;
    padding: 0.5rem 0;
  }
}

.recommended-albums {
  width: 250px;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: $color-white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .album-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;

    img {
      object-fit: cover;
      border-radius: 5px;
    }

    .recommended-album-title {
      margin-top: 0.5rem;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      font-size: 1rem;
    }
  }
}

@media (max-width: 1024px) {
  .content-wrapper {
    flex-direction: column;
  }

  .album-detail-container {
    margin-right: 0;
  }

  .recommended-albums {
    margin-top: 1rem;
    width: 100%;
    #recommended-list {
      overflow-x: auto;
      display: flex;
      flex-wrap: nowrap;
    }

    .album-card {
      display: inline-block;
      flex: 0 0 auto;
      width: 300px;
      padding-right: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .album-content {
    flex-direction: column;
  }

  .album-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .album-description {
    width: 100%;
  }
}

.main-content {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    iframe {
      width: 100vw;
      height: 56.25vw;
      min-height: 100vh;
      min-width: 177.77vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .overlay {
    position: relative;
    background: rgba($color-black, 0.6);
    color: $color-white;
    margin: auto;
    height: 100%;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 1rem;

    &-content {
      overflow: auto;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 70%;
      margin: auto;
      text-align: justify;
      background: rgba($color-black, 0.2);
      padding: 3rem;
      border-radius: 10px;
    }
  }
}
