.pentagrama {
  stroke: black;
  stroke-width: 2;
}

.nota {
  fill: black;
  animation: moverNota 10s linear infinite;
}

.nota.redonda {
  fill: white;
  stroke: black;
}

.nota.corchea .palo,
.nota.negra .palo {
  stroke: black;
  stroke-width: 2;
}

.nota.corchea .bandera {
  stroke: black;
  stroke-width: 2;
}

@keyframes moverNota {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.partitura {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
}
