<footer>
  <div class="footer-content">
    <div class="footer-logo-container">
      <img
        src="../assets/images/logo.webp"
        alt="Logo Marea"
        class="footer-logo"
        id="footer-logo"
        loading="lazy"
      />
    </div>

    <nav class="footer-nav" aria-label="Menú de navegación del pie de página">
      <ul>
        <li>
          <a href="../pages/index.html"
            ><span class="fas fa-home"></span> Inicio</a
          >
        </li>
        <li>
          <a href="../pages/category.html"
            ><span class="fas fa-compact-disc"></span> Discografía</a
          >
        </li>
        <li>
          <a href="../pages/presentation.html"
            ><span class="fas fa-microphone"></span> Biografía</a
          >
        </li>
        <li>
          <a href="../pages/links.html"
            ><span class="fas fa-link"></span> Enlaces</a
          >
        </li>
      </ul>
    </nav>

    <p>
      <a
        href="https://losmarea.com/politica-privacidad"
        target="_blank"
        aria-label="© 2024 Los Marea. Todos los derechos reservados. (opens in new window)"
      >
        © 2024 Los Marea. Todos los derechos reservados. (opens in new window)
      </a>
    </p>

    <p>
      <a
        href="https://github.com/pHachepe/P1-Desarrollo-de-una-web"
        target="_blank"
        aria-label="Repositorio en GitHub (opens in new window)"
      >
        <span class="fab fa-github"></span>
        Repositorio en GitHub (opens in new window)
      </a>
    </p>

    <p>
      Síguenos en:
      <a
        href="https://twitter.com/losmareaoficial"
        target="_blank"
        aria-label="Twitter (opens in new window)"
      >
        <span class="fab fa-twitter"></span>
        Twitter (opens in new window) </a
      >,
      <a
        href="https://www.facebook.com/losmarea"
        target="_blank"
        aria-label="Facebook (opens in new window)"
      >
        <span class="fab fa-facebook"></span>
        Facebook (opens in new window) </a
      >,
      <a
        href="https://www.instagram.com/los_marea_oficial"
        target="_blank"
        aria-label="Instagram (opens in new window)"
      >
        <span class="fab fa-instagram"></span>
        Instagram (opens in new window)
      </a>
    </p>
  </div>
</footer>
