<footer>
  <div class="footer-content">
    <div class="footer-logo-container">
      <img
        src="../assets/images/logo.png"
        alt="Logo Marea"
        class="footer-logo"
        id="footer-logo"
        loading="lazy"
      />
    </div>

    <nav class="footer-nav">
      <ul>
        <li>
          <a href="../pages/index.html"><i class="fas fa-home"></i> Inicio</a>
        </li>
        <li>
          <a href="../pages/category.html"
            ><i class="fas fa-compact-disc"></i> Discografía</a
          >
        </li>
        <li>
          <a href="../pages/presentation.html"
            ><i class="fas fa-microphone"></i> Biografía</a
          >
        </li>
        <li>
          <a href="../pages/links.html"><i class="fas fa-link"></i> Enlaces</a>
        </li>
      </ul>
    </nav>

    <p>
      <a href="https://losmarea.com/politica-privacidad" target="_blank">
        © 2024 Los Marea. Todos los derechos reservados.
      </a>
    </p>

    <p>
      <a href="https://github.com/pHachepe/P1-Desarrollo-de-una-web" target="_blank">
        <i class="fab fa-github"></i>
        Repositorio en GitHub
      </a>
    </p>

    <p>
      Síguenos en:
      <a href="https://twitter.com/losmareaoficial" target="_blank">
        <i class="fab fa-twitter"></i>
        Twitter </a>,
      <a href="https://www.facebook.com/losmarea" target="_blank">
        <i class="fab fa-facebook"></i>
        Facebook </a>,
      <a href="https://www.instagram.com/los_marea_oficial" target="_blank">
        <i class="fab fa-instagram"></i>
        Instagram
      </a>
    </p>
  </div>
</footer>