<footer>
  <div class="footer-content">
    <a href="https://losmarea.com/politica-privacidad/" target="_blank">
      © 2024 Los Marea. Todos los derechos reservados.
    </a>
    <p>
      Síguenos en:
      <a href="https://twitter.com/losmareaoficial" target="_blank">
        <i class="fab fa-twitter"></i>
        Twitter </a
      >,
      <a href="https://www.facebook.com/losmarea" target="_blank">
        <i class="fab fa-facebook"></i>
        Facebook </a
      >,
      <a href="https://www.instagram.com/los_marea_oficial" target="_blank">
        <i class="fab fa-instagram"></i>
        Instagram
      </a>
    </p>
  </div>
</footer>
