<header>
  <img
    src="../assets/images/logo.png"
    alt="Logo Marea"
    class="logo"
    id="logo"
    loading="lazy"
  />

  <!-- Botón de menú hamburguesa -->
  <button class="menu-toggle" id="mobile-menu">
    <i class="fas fa-bars"></i>
  </button>

  <nav>
    <ul id="menu-list">
      <li>
        <a href="../pages/index.html"><i class="fas fa-home"></i> Inicio</a>
      </li>
      <li>
        <a href="../pages/category.html"
          ><i class="fas fa-compact-disc"></i> Discografía</a
        >
      </li>
      <li>
        <a href="../pages/presentation.html"
          ><i class="fas fa-microphone"></i> Presentación</a
        >
      </li>
      <li>
        <a href="../pages/links.html"><i class="fas fa-link"></i> Enlaces</a>
      </li>
    </ul>
  </nav>
</header>

<script src="../scripts/header.js"></script>
